.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.AddingPassword {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: lightblue;
 width: 60%;
 height: 300px;
 border-radius: 20px;
 margin-top: 20px;
}

.AddingPassword button, input{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding-left: 15px;
  font-size: 17px;
}

button {
  cursor: pointer;
  background-color: lightcoral;
}
